html,
body {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at bottom, navy 20%, black 80%);
  overflow: visible;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
}

.space {
  background: rgba(128, 0, 128, 0.05) center / 150px 150px round;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.stars1 {
  animation: space 180s ease-in-out infinite;
  background-image: 
    radial-gradient(1px 1px at 25px 5px, white, rgba(255, 255, 255, 0)), 
    radial-gradient(1px 1px at 50px 25px, white, rgba(255, 255, 255, 0)), 
    radial-gradient(1px 1px at 125px 20px, white, rgba(255, 255, 255, 0)), 
    radial-gradient(1.5px 1.5px at 50px 75px, white, rgba(255, 255, 255, 0)), 
    radial-gradient(2px 2px at 15px 125px, white, rgba(255, 255, 255, 0)), 
    radial-gradient(2.5px 2.5px at 110px 80px, white, rgba(255, 255, 255, 0));
}

.stars2 {
  animation: space 240s ease-in-out infinite;
  background-image: 
    radial-gradient(1px 1px at 75px 125px, white, rgba(255, 255, 255, 0)), 
    radial-gradient(1px 1px at 100px 75px, white, rgba(255, 255, 255, 0)), 
    radial-gradient(1.5px 1.5px at 199px 100px, white, rgba(255, 255, 255, 0)), 
    radial-gradient(2px 2px at 20px 50px, white, rgba(255, 255, 255, 0)), 
    radial-gradient(2.5px 2.5px at 100px 5px, white, rgba(255, 255, 255, 0)), 
    radial-gradient(2.5px 2.5px at 5px 5px, white, rgba(255, 255, 255, 0));
}

.stars3 {
  animation: space 300s linear infinite;
  background-image: 
    radial-gradient(1px 1px at 10px 10px, white, rgba(255, 255, 255, 0)), 
    radial-gradient(1px 1px at 150px 150px, white, rgba(255, 255, 255, 0)), 
    radial-gradient(1.5px 1.5px at 60px 170px, white, rgba(255, 255, 255, 0)), 
    radial-gradient(1.5px 1.5px at 175px 180px, white, rgba(255, 255, 255, 0)), 
    radial-gradient(2px 2px at 195px 95px, white, rgba(255, 255, 255, 0)), 
    radial-gradient(2.5px 2.5px at 95px 145px, white, rgba(255, 255, 255, 0));
}

@keyframes space {
  40% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.75;
  }
  100% {
    transform: rotate(360deg);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Times New Roman', 'Lucida Handwriting', 'Helvetica', 'Papyrus';
  font-weight: 100;
  color: mistyrose;
  letter-spacing: 1px;
}

h1 img {float:left;margin:0 5px 0 0}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 5px;
  color:thistle;
}

section {
  padding: 100px 0;
  background-color: transparent;
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: #220000 ;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  color: pink;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  font-color: pink;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: pink;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: whitesmoke;
}

#mainNav .navbar-nav > li > a.active {
  color: blue !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
  color: pink;
}

.textstyle {
   background: transparent;
  border-radius: 5em;
 border: double;
  padding-top: 10px;
  font-family: Papyrus;
}

.button {
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 8px;
  font-family: Lucida Handwriting;
  color: #f4511e; 
   transition: all 0.5s;  cursor: pointer;  margin: 5px;
   background: radial-gradient(circle at bottom, navy 10%, black 100%);

    background-color: rgba(128, 0, 128, 0.1) center / 150px 150px round;
     border: 1px double purple;
  overflow: hidden;

 animation: ease-in-out infinite;

}

.button span {  cursor: pointer;  display: inline-block;  position: relative;  transition: 0.5s;}

.button:hover, .button-outline:focus, .button-outline:active, .button-outline.active {
  color: white;
  border-color: black;
  background-color: gray;
}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  background: transparent;
}

@media (min-width: 500px) {
  header.masthead {
    height: 100vh;
    min-height: 500px;
    padding-top: 65px;
    padding-bottom: 0;
    padding-right: 0;
  }
}

section.download {
  position: relative;
  padding: 50px 0;
}

section.features .section-heading {
  margin-bottom: 80px;
}

section.cta {
  position: relative;
  padding: 10px 0;
  border: 1px ;
}

section.cta .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.contact ul.list-social li a {
  font-size: 30px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

section.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}

section.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}

section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}

section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}

section.contact ul.list-social li.social-github a {
  background-color: #3E2C00;
}

section.contact ul.list-social li.social-github a:hover {
  background-color: #F1502F;
}

section.contact ul.list-social li.social-linkedin a {
  background-color: #0072b1;
}

section.contact ul.list-social li.social-linkedin a:hover {
  background-color:#3b5998;
}

section.contact ul.list-social li.social-wordpress a {
  background-color:#00BFFF ;
}

section.contact ul.list-social li.social-instagram a {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); 
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);  
}

footer {
  padding: 0px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  /*background-color: #222222;*/
  background-color: transparent;
}

footer p {
  font-size: 12px;
  margin: 0;
}

.bg-primary {
  background:#FAACA8;
  background:linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
}

.bg-tert {
  background: LightBlue;
  background: linear-gradient(20deg, SkyBlue 0%, Azure);
 }

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #fdcc52;
  background-color: #fdcc52;
}

.btn {
  border-radius: 200px;
  font-family:'Arial', 'sans-serif';
  letter-spacing: 1px;
}

.resume .resume-title {
  font-size: 30px;
  max-width: 300px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 0 0 10px 5px;
}

.resume .resume-item {
  padding: 0px 0 15px 12px;
  margin-top: 0px;
  border-left: 2px double #0563bb;
  position: relative;
  color: white;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 17px;
  font-weight: 520;
  font-family: "Poppins", sans-serif;
  /*color: #0563bb;*/
  color: cornsilk;
}

.resume .resume-item h5 {
  font-size: 15px;
  display: inline-block;
  font-weight: 400;
}
.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item p {
  font-size: 16px;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 15px;
  left: -7px;
  top: 0;
  background-color: floralwhite;
  border: 0.5px solid gray;
  overflow: hidden;
 animation: ease-in-out infinite;
}

@media (max-width: 360px) {
  .container {
    width: 1170px;
  }
}
